body {
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:sans-serif;
    line-height:1.5;
    min-height:100vh;
    background:palevioletred;
    flex-direction: column;
    margin:0;
}
.main{ 
    background-color:pink;
    border-radius:15px;
    box-shadow:0 0 20px rgb(140, 6, 29);;
    padding:10px 20px;
    transition: transform 0.2s;
    width:500px;
    text-align: center;

}
h1{
    color:blue;

}label {
    display: block;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


    input {
    display: block;
    width: 100%;
    margin-bottom: 1px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #f7e9e9;
    border-radius: 5px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color:rgb(212, 29, 29);
    width: 100%;
    font-size: 16px;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

   




     
